@charset "UTF-8";

/* loading screen styles */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--olivegrey);
    transition: opacity 0.75s, visibility 0.75s;
  }

  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--bone);
    border-top-color: var(--libertyblue);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

/* site-wide styles */

html {
    /* color variables */ 
    --libertyblue: #485696;
    --olivegrey: #37392E;
    --bone: #ECE2D0;
    --rufous: #972D07;
    --oldrose: #C97B84;


    /* element variables */
    --body-bg-color:var(--bone);
    --nav-bg-color:var(--olivegrey);
    --nav-item-color:var(--bone);
    --nav-hover-color:var(--libertyblue);
}

body {
	margin: 0 auto;
	width: 100%;
    background-color: var(--body-bg-color);
}

html body h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Profile Picture */

.profile-pic {
    left: 600px;
    position: relative; 
}